class SearchPageNavbar extends React.Component {
  render() {
    return (
      <nav className="navbar search-nav">
        <div className="container-fluid">
          <div className="nav navbar-left">
            <a className="brand-link" href="/">
              ❤ kittenbnb
            </a>
          </div>

          <div className="nav navbar-left search-bar">
            <i className="fa fa-search" aria-hidden="true"></i>
            <input type="text" value="TODO" />
          </div>

          <ul className="nav navbar-nav navbar-right">
            <li><a href="#">Help</a></li>
            <li><a href="#">Sign Up</a></li>
            <li><a href="#">Log In</a></li>
          </ul>
        </div>
      </nav>
    );
  }
}

class SearchDatesForm extends React.Component {
  render() {
    return (
      <div className="form-row">
        <label>Dates</label>

        <form>
          <div className="inline-form-control">
            <input type="text" />
          </div><div className="inline-form-control">
            <input type="text" />
          </div><div className="inline-form-control">
            <select>
              Num Guests
            </select>
          </div>
        </form>
      </div>
    );
  }
}

class SearchRoomTypeForm extends React.Component {
  render() {
    return (
      <div className="form-row">
        <label>Room Type</label>

        <form>
          <div className="inline-form-control">
            <div className="mycheckbox">
              <img src="<%= image_url "home_airglyphs.svg" %>" className="icon" />
              Entire home/apt

              <input type="checkbox" />
            </div>
          </div><div className="inline-form-control">
            <div className="mycheckbox">
              <img src="<%= image_url "private-room_airglyphs.svg" %>" className="icon" />
              Private room

              <input type="checkbox" />
            </div>
          </div><div className="inline-form-control">
            <div className="mycheckbox">
              <img src="<%= image_url "shared-room_airglyphs.svg" %>" className="icon" />
              Shared room

              <input type="checkbox" />
            </div>
          </div>
        </form>
      </div>
    );
  }
}

class SearchPriceRangeForm extends React.Component {
  render() {
    return (
      <div className="form-row">
        <label>Price Range</label>

        <form className="slider-form">
          <div id="price-range"></div>

          <div className="min-price">$100</div>
          <div className="max-price">$999</div>
        </form>
      </div>
    );
  }
}

class SearchForms extends React.Component {
  render() {
    return (
      <div className="search-forms">
        <SearchDatesForm />
        <div className="form-break">
          <div className="break"></div>
        </div>
        <SearchRoomTypeForm />
        <div className="form-break">
          <div className="break"></div>
        </div>
        <SearchPriceRangeForm />
      </div>
    );
  }
}

class Listing extends React.Component {
  constructor(props) {
    super(props)
    console.log(props);
  }

  render() {
    return (
      <div>
        <div className="half">
          <div className="listing">
            <div className="listing-img-container">
              <img src={this.props.src} className="listing-photo" />

              <div className="price-container">
                <div className="inner-price-container">
                  <sup>$</sup>331
                </div>
              </div>

              <div className="photo-container">
                <div className="photo-round">
                  <img src="<%= image_url "george.jpg" %>" />
                </div>
              </div>
            </div>

            <div className="listing-title-detail-wrapper">
              <h3 className="listing-title">The Langtry: Beautiful 2BR Suite</h3>
              <div className="listing-details">
                Private Room • Stars • 14 Reviews
              </div>
            </div>
          </div>
        </div>
      </div>
    );
  }
}

class SearchSidebar extends React.Component {
  render() {
    let imageSrcs = [
      "<%= image_url "3e9cdcf7-0fa1-448c-98ce-baa8113d4f1b.jpg" %>",
      "<%= image_url "852901bc-b93e-427f-9654-5c8826df0a90.jpg" %>",
      "<%= image_url "df1d3cb2_original.jpg" %>",
      "<%= image_url "5ca802f1_original.jpg" %>"
    ];

    return (
      <div className="search-sidebar">
        <SearchForms />
        <div className="listings">
          {imageSrcs.map((src, idx) => <Listing src={src} key={idx} />)}
        </div>
      </div>
    );
  }
}

class MapSidebar extends React.Component {
  render() {
    return (
      <div className="map-sidebar">
        <div id="map"></div>
      </div>
    );
  }
}

class SearchPage extends React.Component {
  render() {
    return (
      <div>
        <SearchPageNavbar />
        <SearchSidebar />
        <MapSidebar />
      </div>
    );
  }
}

function initSearch () {
  ReactDOM.render(
    <SearchPage />,
    document.getElementById("search")
  );

  var geocoder = new google.maps.Geocoder();
  geocoder.geocode({'address': gon.search.location}, (results, status) => {
    if (status === google.maps.GeocoderStatus.OK) {
      let map = new google.maps.Map(document.getElementById("map"), {
        center: {
          lat: results[0].geometry.location.lat(),
          lng: results[0].geometry.location.lng(),
        },
        disableDefaultUI: true,
        zoomControl: true,
        zoom: 12
      });
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });

  var slider = document.getElementById('price-range');
  noUiSlider.create(slider, {
    start: [20, 80],
    connect: true,
    range: {
      'min': 0,
      'max': 100
    }
  });
}
