<div class="search">
  <nav class="navbar search-nav">
    <div class="container-fluid">
      <div class="nav navbar-left">
        <a class="brand-link" href="/">
          ❤ kittenbnb
        </a>
      </div>

      <div class="nav navbar-left search-bar">
        <i class="fa fa-search" aria-hidden="true"></i>
        <input type="text" value="<%= @search_params[:location] %>">
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Help</a></li>
        <li><a href="#">Sign Up</a></li>
        <li><a href="#">Log In</a></li>
      </ul>
    </div>
  </nav>


  <div class="search-sidebar">
    <div class="search-forms">
    <div class="form-row">
      <label>Dates</label>

      <form>
        <div class="inline-form-control">
          <input type="text">
        </div><div class="inline-form-control">
          <input type="text">
        </div><div class="inline-form-control">
          <select>
            Num Guests
          </select>
        </div>
      </form>
    </div>

    <div class="form-break">
      <div class="break"></div>
    </div>

    <div class="form-row">
      <label>Room Type</label>

      <form>
        <div class="inline-form-control">
          <div class="mycheckbox">
            <%= image_tag("home_airglyphs.svg", class: :icon) %>
            Entire home/apt

            <input type="checkbox">
          </div>
        </div><div class="inline-form-control">
          <div class="mycheckbox">
            <%= image_tag("private-room_airglyphs.svg", class: :icon) %>
            Private room

            <input type="checkbox">
          </div>
        </div><div class="inline-form-control">
          <div class="mycheckbox">
            <%= image_tag("shared-room_airglyphs.svg", class: :icon) %>
            Shared room

            <input type="checkbox">
          </div>
        </div>
      </form>
    </div>

    <div class="form-break">
      <div class="break"></div>
    </div>

    <div class="form-row">
      <label>Price Range</label>

      <form class="slider-form">
        <div id="price-range"></div>

        <div class="min-price">$100</div>
        <div class="max-price">$999</div>
      </form>
    </div>
    </div>

    <div class="listings">
      <% ["3e9cdcf7-0fa1-448c-98ce-baa8113d4f1b.jpg",
          "852901bc-b93e-427f-9654-5c8826df0a90.jpg",
          "df1d3cb2_original.jpg",
         "5ca802f1_original.jpg"].each do |src| %>
        <%= render "listing", src: src %>
      <% end %>
    </div>
  </div>

  <div class="map-sidebar">
    <div id="map"></div>
  </div>
</div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.secrets.places_api_key %>&libraries=places&callback=initSearch" defer async></script>
